.transparent {
  position: relative;
  font-weight: 300;
  background-image: radial-gradient(circle at 100% 100%, transparent 0, #0db9f0 0, #0db9f0 1px, transparent 1px), linear-gradient(to right, #0db9f0, #e85ce9), radial-gradient(circle at 0 100%, transparent 0, #e85ce9 0, #e85ce9 1px, transparent 1px), linear-gradient(to bottom, #e85ce9, #e95de9), radial-gradient(circle at 0 0, transparent 0, #e95de9 0, #e95de9 1px, transparent 1px), linear-gradient(to left, #e95de9, #0cb9f0), radial-gradient(circle at 100% 0, transparent 0, #0cb9f0 0, #0cb9f0 1px, transparent 1px), linear-gradient(to top, #0cb9f0, #0db9f0);
  background-size: 1px 1px, calc(100% - 2px) 1px, 1px 1px, 1px calc(100% - 2px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  padding: 12px 24px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#0cbaf1), to(#e95ce9));
    background: -o-linear-gradient(left, #0cbaf1 0, #e95ce9 100%);
    background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  @media (max-width: 768px) {
    &:hover {
      &::before {
        opacity: 0;
      }
    }
  }
}

.filled {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#0cbaf1), to(#e95ce9));
  background: -o-linear-gradient(left, #0cbaf1 0, #e95ce9 100%);
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  padding: 18px 38px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
}
